@media (max-width: 1620px) {
    .photo-gallery .photo{
        height: 280px;
    }
}

/*----------------------------- 1400px-----------------------------------*/

@media (max-width: 1400px) {
    .photo-gallery .photo {
        height: 210px;
    }
    .footer-info.flex.items-center.h-full.justify-around.wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-info.flex.items-center.h-full.justify-around.wrap .flex.items-center{
        margin-bottom: 10px;
    }
    .book-info .title{
        font-size: 20px;
    }
    .book-info .desc{
        font-size: 18px;
    }
    .component-padding-100-120{
        padding: 60px 0 80px 0;
    }
    .section-m-100{
        margin: 80px 0;
    }
}

/*----------------------------- 1200px-----------------------------------*/

@media (max-width: 1200px) {
    .text_section .image{
        height: 400px;
    }
    .search-form input{
        width: 650px;
    }
    .search-cover {
        height: 430px;
    }
    .modal-content{
        width: 60%;
    }
    .modal-input{
        width: 100%;
    }
    .modal-content input{
        width: 100%;
    }
    .section-m-100{
        margin: 60px 0;
    }
    .subscribe-info .text{
        font-size: 16px;
    }
    .subscribe-section .title{
        font-size: 20px;
    }
    .menu-item.h-full.flex.items-center.mr-4.relative{
        margin-right: 24px;
    }
    a.bold.background-green.pt-1.pl-2.pb-1.pr-2.white.transition-duration{
        padding: 10px 20px;
    }
    .home-banner .title{
        line-height: 40px;
        font-size: 24px;
    }
    .home-banner .text{
        font-size: 18px;
        line-height: 30px;
    }
    .home-banner {
        height: 450px;
    }
    .section-pad{
        padding: 60px 0;
    }
    .green-section .video{
        margin-top: 60px;
    }
    .photo-gallery .text {
        margin-bottom: 80px;
    }
    .contact-page .contact-image{
        width: 50%;
    }
    .book-info{
        padding-left: 40px;
    }
}

/*------------------------------- 992px ---------------------------------*/

@media (max-width: 992px) {
    .text_section .image{
        height: 350px;
    }
    .menu-header .col-lg-8,
    .header.upper-header.w-full.pt-1.pb-1,
    a.bold.background-green.pt-1.pl-2.pb-1.pr-2.white.transition-duration{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .logo img.w-full.h-full.cover{
        width: 50%;
    }
    .menu-header{
        position: fixed;
        height: 116px;
        background: white;
        top: 0;
        z-index: 999;
        width: 100%;
        box-shadow: 0px 9px 20px 0px rgb(0 0 0 / 20%);
    }
    .text_section .text{
        margin-bottom: 40px;
        margin-right: 0;
        margin-left: 0;
    }
    .text_section.reverce .image{
        margin-left: 0;
        margin-right: 0;
    }
    .text_section .image{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .reverce .text, .reverce .title{
        padding: 0;
        margin-left: 0;
    }
    .count.flex.column.w-full{
        margin-bottom: 40px;
    }
    .count-section{
        margin: 20px 0;
    }
    .green-section .text-block.flex.items-center.justify-start{
        margin-bottom: 50px;
    }
    .tab.flex.items-center.justify-center.wrap{
        justify-content: space-evenly;
    }
    .footer-book.flex.items-center.justify-end.h-full{
        justify-content: center;
        margin-top: 30px;
    }
    .footer-social.flex.justify-end.items-center{
        justify-content: space-between;
        margin-top: 40px;
    }
    .book-section .row{
        height: initial;
    }
    .book-section{
        height: initial;
    }
    .book-section .book-image,
    .book-info{
        height: 202px;
    }
    .book-image::before{
        display: none;
    }
}

/*--------------------------------- 768px -------------------------------*/

@media (max-width: 768px) {
    .section-pad{
        padding: 40px 0;
    }
    .green-section {
        padding: 40px 0px;
    }
    .footer-logo{
        margin-bottom: 40px;
    }
    .footer-info.flex.items-center.h-full.justify-around.wrap .flex.items-center{
        margin-bottom: 30px;
    }
    .down-footer-info.flex.items-center.justify-start.h-full,
    .footer-book.flex.items-center.justify-end.h-full{
        flex-direction: column;
        align-items: flex-start;
    }
    .down-footer-info.flex.items-center.justify-start.h-full div,
    .footer .text-lg.bold.white.mr-3{
        margin-bottom: 20px;
    }
    .row-item{
        border: none;
    }
    .green-section .text.white.medium.text-xl.pr-4{
        padding: 0;
    }
    .resp-slider-none{
        display: none;
    }
    .home-slider-resp{
        display: block;
    }
    .text_section .row{
        flex-direction: column-reverse;
    }
    .contact-resp-none{
        display: none;
    }
    .contact-resp-on{
        display: block;
    }
    .contact-page .info{
        padding-right: 0;
        padding-top: 40px;
    }
    .contact-cover {
        height: initial;
    }
    .contact-page .contact-image{
        width: 100%;
        position: relative;
        top: 6px;
        height: 240px;
    }
    .subscribe-section, .subscribe-info, .subscribe-form, .subscribe-logo{
        height: initial;
    }
    .subscribe-cover{
        display: none;
    }
    .subscribe-section{
        padding: 25px 0 30px 0;
    }
    .subscribe-form{
        margin-bottom: 40px;
    }
    .modal-content{
        width: 80%;
    }
    .search-form input {
        width: 340px;
    }
    .search-cover{
        margin-top: 116px;
        height: 285px;
    }
}

/*--------------------------------- 576px -------------------------------*/

@media (max-width: 576px) {
    .text_section .image{
        height: 230px;
    }
    .count.flex.column.w-full{
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .count-section {
        margin: 0;
    }
    .footer-social.flex.justify-end.items-center{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
    .footer-social .social.flex.items-center{
        padding-bottom: 30px;
        border-bottom: 1px solid #237E54;
        width: 100%;
    }
    .footer .col-xl-5.col-lg-5.col-md-12{
        padding: 0;
    }
    .made{
        margin-left: 0;
        margin-top: 28px;
    }
    .green-section .title{
        margin-top: 0;
    }
    .green-section .video.w-full.relative.hidden{
        margin-bottom: 35px;
        margin-top: 25px;
    }
    .section-padding{
        padding: 20px 0;
    }
    .component-padding-100-120{
        padding: 20px 0;
    }
    .text_section{
        padding-bottom: 0;
    }
    .post-slider img.h-full.cover {
        width: calc(100% - 20px);
    }
    .post-slider .slide{
        height: 157px;
    }
    .slider-posts .info{
        display: none;
    }
    .slider-posts .title{
        margin-bottom: 20px;
    }
    .green-section{
        padding: 25px 0;
    }
    .text-block .text{
        padding: 0;
    }
    .green-section .text-block.flex.items-center.justify-start{
        margin-bottom: 20px;
    }
    .row_post{
        height: 200px;
    }
    .upper-footer{
        padding: 32px 0;
    }
    .front-card-banner .card{
        height: 128px;
        margin-bottom: 15px;
    }
    .text_section .text{
        margin-bottom: 0px;
    }
    .contact-form .flex.column.items-start.w-1_2.pr-1,
    .contact-form .flex.column.items-start.w-1_2.pl-1{
        width: 100%;
        padding: 0;
    }
    .contact-form .form input{
        margin-bottom: 18px;
    }
    .contact-map{
        height: 173px;
    }
    .form .w-full.flex.items-center.justify-end{
        margin-top: 30px;
    }
    .photo-gallery .photo{
        height: 142px;
        margin-bottom: 20px;
    }
    .photo-gallery .col-xl-3.col-lg-4.col-md-6.col-6{
        padding: 0 10px;
    }
    .photo-gallery .content{
        padding: 0 5px;
    }
    .photo-gallery .text{
        margin-bottom: 40px;
    }
    .contact-info div{
        margin-bottom: 20px;
    }
    .contact-info{
        padding-top: 30px;
    }
    .footer-book.flex.items-center.justify-end.h-full{
        margin: 0;
    }
    .menu-header{
        padding: 44px 0px 16px 0 !important;
    }
    .book-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .book-button-black{
        top: 0;
        left: 0;
        padding: 8px 48px;
    }
    .book-info{
        padding-left: 20px;
        padding-top: 20px;
    }
    .book-section .container{
        padding: 0;
    }
    .book-section .row{
        border-radius: 0;
    }
    .testimonial-slider{
        margin: 0;
    }
    .testimonial .title{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .testimonial .text{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .testimonial{
        padding: 30px 0;
    }
    .testimonial-block .block-title{
        font-size: 18px;
        margin-bottom: 12px;
    }
    .testimonial-block .block-text{
        font-size: 16px;
    }
    .section-m-100{
        margin: 20px 0;
    }
    .modal-content{
        width: 100%;
    }
    .title .white{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .info h3.white.text-2xl.bold{
        font-size: 18px;
    }
    .text.white.pr-4.medium{
        font-size: 16px !important;
    }
    .green-section .title{
        margin-bottom: 6px;
    }
    .section-pad{
        padding: 20px 0;
    }
    .search-result .result{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .result-block .title{
        margin-bottom: 10px;
    }
    .result-block .title a{
        font-size: 18px;
    }
    .result-block .text{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .result-block{
        margin-bottom: 40px;
    }
}

/*--------------------------------- 440px -------------------------------*/
@media (max-width: 440px) {
  
}
